.login{
  width: 100%;
  height: 100%;
  background-color: #E6E6E6;
}

.login-panel{
  width: 80%;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  position: absolute;
  top: 30%;
  left: 10%;
}
.login-panel input{
  width: 85%;
  margin-top: 15px;
  height: 33px;
  border: 0px;
  padding-left: 10px;
  text-align: center;
  background-color: #E6E6E6;
  border-radius: 15px;
}

.login-panel b{
  float: left;
  margin-left: calc(15%/2);
}

.logo{
  margin-top: 80px;
}

.login-panel .button{
  background-color: #333;
  color: #ffe200;
  width: calc(85% + 10px);
  border: 0px;
  height: 33px;
  margin-top: 15px;
  border-radius: 11px;
}

.groupedList{
  width: 100%;
  height: 100%;
  background-color: #E6E6E6;
}

.groupedList .header{
  width: calc(100% - 20px);
  padding: 10px;
}

.groupedList .header img{
  width: 140px;
}

.groupedList button{
  position: absolute;
  right: 5px;
  margin-top: -8px;
}


.destinationList{
  width: 100%;
  height: 100%;
  background-color: #E6E6E6;
}

.currentDelivery{
  width: 80%;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  position: fixed;
  bottom: 20px;
  left: calc(10% - 10px);
  padding-bottom: 0px;
}

.dropOff{
  align-items: left;
  font-size: .8em;
}

.personIcon{
  height: 40px;
  width: 40px;
}

.dropOff b, small{
  float: left;
}

.pinArea{
  margin-top: 15px;
  font-size: .8em;
}

.releaseInput{
  width: 90%;
  height: 30px;
  border: 0px;
  background-color: #E6E6E6;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
}

.cancelLoad{
  width: calc(50% + 10px);
  height: 40px;
  float: left;
  margin-left: -10px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px #333 solid;
  border-bottom-left-radius: 15px;
}

.verifyPin{
  width: calc(50% + 10px);
  height: 40px;
  float: right;
  margin-right: -10px;
  margin-top: 10px;
  background-color: #333;
  border: 1px #333 solid;
  border-bottom-right-radius: 15px;
  color: #ffe200;
  font-weight: 700;
}

.deliveryPill{
  background-color: #fff;
  width: 90%;
  border-radius: 15px;
}
input:focus, input:hover, input:active{
  outline: none;
  border-radius: 2px 2px 0px rgba(0,0,0,.3);
}
input,button{
  font-size: 12px;
}

.showing{
  transition: .4s;
  opacity: 1;
  display: block;
}

.hidden{
  transition: .4s;
  opacity: .3;
  display: none;
}

.smallButton{
  width: 90px;
  height: 45px;
  margin: 0px;
  border-radius: 0px 20px 20px 0px;
  border: 0px;
  background-color: #333;
}

.noBg{
  background: none;
}

.redText{
  color: red
}

.yellowText{
  color: #ffe200;
}

.refresh{
  width: 60%;
  border-radius: 15px;
  background-color: #333;
  color: #ffe200;
  border: 0px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 20%;

}

.packagePill{
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: rgba(0,0,0,.3) 0px 2px 2px 0px;
}

.nudgeUp{
  position: relative;
  right: 30px;
  margin-top: -30px;
  float: right;
}

.sendNotifs{
  width: 100%;
  height: 10%;
  background-color: rgba(0,0,0,.36);
  z-index: 99;
  position: fixed;
  bottom: 0px;
}
.send{
  background-color:#ffe200;
  color: #333;
  width: calc(45% + 10px);
  border: 0px;
  height: 33px;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: bold;
}

.cancelDropdown{
  width: 85%;
  margin-top: 15px;
  height: 33px;
  border: 0px;
  padding-left: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
}